$color_1: #D16014;
$color_2: #0088a9;
$color_3: #06131a;
$color_4: #50595e;
$color_5: #ce0058;
$color_6: #ec7f19;
$color_7: grey;
$color_8: white;
$color_9: #222;
$font-family_1: "Montserrat", sans-serif;
$font-family_2: 'Barlow Semi Condensed', sans-serif;
$font-family_3: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-family_4: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$background-color_1: rgba(0, 37, 180, 0.90);
$background-color_2: rgba(22, 52, 169, 0.9);
$background-color_3: rgba(238, 139, 17, 0.8);
$background-color_4: rgba(38, 44, 38, 0.8);
$background-color_5: rgb(40, 56, 177);
$background-color_6: rgba(40, 40, 42, 0.7);
$background-color_7: #000;
$background-color_8: #555;
$background-color_9: #04AA6D;
$background-color_10: #45a049;
$background-color_11: #f2f2f2;
$background-color_12: #666;


@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap";

li {
	font-family: $font-family_1;
	font-weight: 500;
	font-size: 16px;
	color: $color_1;
	text-decoration: none;
}
a {
	font-family: $font-family_1;
	font-weight: 500;
	font-size: 16px;
	color: $color_1;
	text-decoration: none;
	text-decoration: none;
	color: $color_4;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	&:focus {
		text-decoration: none;
		color: $color_5;
	}
	&:hover {
		text-decoration: none;
		color: $color_5;
	}
}
button {
	font-family: $font-family_1;
	font-weight: 500;
	font-size: 16px;
	color: $color_1;
	text-decoration: none;
	&:hover {
		background-color: $background-color_3;
	}
}
header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 30px 10%;
}
.logo {
	height: "110px";
	width: "380px";
}
.navbar-1__links {
	list-style: none;
	li {
		display: inline-block;
		padding: 0px 20px;
		a {
			transition: all 0.3s ease 0s;
			&:hover {
				color: $color_2;
			}
		}
	}
}
.button {
	padding: 9px 25px;
	background-color: $background-color_1;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: $color_8;
	background-color: $background-color_7;
	text-align: center;
	cursor: pointer;
	width: 70%;
	&:hover {
		background-color: $background-color_8;
	}
}

h1 {
	font-weight: 500;
	color: $color_3;
	margin: 0px 0px 15px 0px;
	font-family: $font-family_2;
	font-size: 36px;
	letter-spacing: 1.4px;
	line-height: 1.2;
	font-size: 120px;
	justify-content: center;
	font-family: $font-family_3;
	padding: 50px;
	background: none;
	padding-top: 110px;
	text-align: center;
}
h2 {
	font-weight: 500;
	color: $color_3;
	margin: 0px 0px 15px 0px;
	font-family: $font-family_2;
	font-size: 30px;
	line-height: 38px;
	background: none;
	color: $color_6;
}
h3 {
	font-weight: 500;
	color: $color_3;
	margin: 0px 0px 15px 0px;
	font-family: $font-family_2;
	font-size: 22px;
}
h4 {
	font-weight: 500;
	color: $color_3;
	margin: 0px 0px 15px 0px;
	font-family: $font-family_2;
	font-size: 18px;
}
h5 {
	font-weight: 500;
	color: $color_3;
	margin: 0px 0px 15px 0px;
	font-family: $font-family_2;
	font-size: 16px;
}
h6 {
	font-weight: 500;
	color: $color_3;
	margin: 0px 0px 15px 0px;
	font-family: $font-family_2;
	font-size: 14px;
}
p {
	margin: 0 0 20px;
	line-height: 1.7;
	&:last-child {
		margin: 0px;
	}
}
.box {
	background-color: $background-color_4;
	height: 350px;
	p{
		font-size: x-large;
	}
}
.multi-button {
	button-1 {
		justify-content: space-around;
	}
	text-align: center;
	background-color: $background-color_6;
}

.container-1{
	p{
		font-size: large;
		float: left;
		background-color: #95aba3;
		padding: 10px;
		border-radius: 15%;
		margin-top: 100px;
		margin-left: 100px;
		height: 400px;
		width: 500px;
		box-shadow: #000;

	}
}
#projects_button {
	&:hover {
		background-color: $background-color_3;
	}
}
#section-1 {
	background-image: url(https://bm8n4bus276xody2tdiiu1ea-wpengine.netdna-ssl.com/wp-content/uploads/2018/05/Beaumont-Avenue-Recharge-Facility-01-.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 750px;
	background-attachment: fixed;
}
#section-2 {
	background-image: url(http://orlandoconstructionllc.com/wp-content/uploads/2020/01/Beltway-Commerce_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 550px;
	background-attachment: fixed;
}
.column-1 {
	float: left;
	width: 33.3%;
	margin-bottom: 16px;
	padding: 0 8px;
	height: 70%;
}
.team {
	text-align: center;
	font-size: larger;
	font-family: $font-family_4;
}
img {
	height: fit-content;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container {
	padding: 0 16px;
	border-radius: 5px;
	background-color: $background-color_11;
	padding: 20px;
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}
.row {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}
.title {
	color: $color_7;
}
input[type=text] {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	display: flex;
}
select {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	display: flex;
}
textarea {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	display: flex;
}
input[type=submit] {
	background-color: $background-color_9;
	color: $color_8;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		background-color: $background-color_10;
	}
}
.map {
	border: black solid 2px;
	justify-content: center;
	width: auto;
	margin: auto;
	margin-top: 70px;
}
.index--form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 50px;
}
.footer-1 {
	background-color: $background-color_4;
	height: 170px;
	flex: auto;
	flex-direction: column;
	margin-top: 10px;
	padding: 10px;
}
.footer_distributed {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: $background-color_12;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 35px 30px;
}
.footer-distributed {
	.footer-left {
		display: inline-block;
		vertical-align: top;
	}
	.footer-center {
		display: inline-block;
		vertical-align: top;
	}
	.footer-right {
		display: inline-block;
		vertical-align: top;
	}
	.footer-company-name {
		color: $color_9;
		font-size: 14px;
		font-weight: normal;
		margin: 0;
	}
}
.footer_p {
	font-family: $font-family_4;
	font-size: x-large;
}
.footer_links {
	float: right;
}
@media screen and (max-width: 600px) {
	.column-1 {
		width: 100%;
		display: block;
	}
}
@media (min-width:1000px) {
	.map {
		border: black solid 2px;
		justify-content: center;
		width: auto;
		margin: auto;
		margin-top: 70px;
		margin-left: 20%;
	}
}
@media (min-width:1280px) {
	.map {
		border: black solid 2px;
		justify-content: center;
		width: auto;
		margin: auto;
		margin-top: 70px;
		margin-left: 30%;
	}
}
@media (max-width:768px) {
	section-1 {
		flex-direction: column;
	}
	section-2 {
		flex-direction: column;
	}
	
	.logo {
		height: 90;
		width: 290;
		margin-left: 60px;
		margin-right: -40px;
	}
	header {
		width: auto;
		display: contents;
	}
	.button-2 {
		visibility: hidden;
		padding: 9px 25px;
		background-color: $background-color_1;
		border: none;
		border-radius: 50px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
	}
	.nav {
		justify-content: center;
	}
	.button {
		padding: 3px 8.333px;
		background-color: $background-color_1;
		border: none;
		border-radius: 16.666px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		margin-right: 70px;
		width: 100%;
	}
	.button-1 {
		background-color: $background-color_1;
		border: none;
		border-radius: 16.666px;
		cursor: pointer;
		transition: all 0.5s ease 0s;
		width: 70vw;
		margin: 0px;
		padding: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.button-3 {
		background-color: $background-color_1;
		border: none;
		border-radius: 16.666px;
		cursor: pointer;
		transition: all 0.5s ease 0s;
		width: 70vw;
		margin: 0px;
		padding: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	* {
		margin: 0px;
	}
	.map {
		width: 100%;
		height: 320px;
		justify-content: center;
	}
	.input-button {
		margin: auto;
	}
	.index--form {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
@media (min-width:768px) {
	.map {
		width: 400px;
		height: 500px;
	}
}
