$color_1: black;
$background-color_1: #f1f1f1;
$background-color_2: inherit;
$background-color_3: #ddd;
$background-color_4: #ccc;
$background-color_5: rgb(86, 216, 26);

* {
	box-sizing: border-box; 

}
.tab_app {
	translate: 60px 30px;
	float: none;
	border: 3px solid #ccc;
	background-color: $background-color_1;
	width: 30%;
	height: fit-content;
	button {
		display: block;
		background-color: $background-color_2;
		color: $color_1;
		padding: 5% 2%;
		width: 100%;
		border: none;
		outline: none;
		text-align: center;
		cursor: grab;
		transition: 0.3s;
		&:hover {
			background-color: $background-color_3;
		}
	}
	button.active {
		background-color: $background-color_4;
	}
	&:hover{
		transform: scale(110%);
		transition-duration: 1s;
	}
	 &:hover::after{
	 transition: 1s ease-out;
	 }
}
.tabcontent_app {
	float: left;
	padding: 0px 12px;
	padding-left: 20px;
	border: 1px solid #ccc;
	width: 70%;
	border-left: none;
	height: 300px;
}

.block_title_app{
	text-align: center;
	padding: 3%;
	font-size: x-large;
	font-style: italic;
	font-weight: 700;
	text-decoration: underline;
}


